
@font-face {
  font-family: 'GeezaPro-Bold';
  src: url('GeezaPro-Bold.eot?#iefix') format('embedded-opentype'),  url('GeezaPro-Bold.woff') format('woff'), url('GeezaPro-Bold.ttf')  format('truetype'), url('GeezaPro-Bold.svg#GeezaPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
