
@font-face {
  font-family: 'JFFlat-Medium';
  src: url('JFFlat-Medium.eot?#iefix') format('embedded-opentype'),  url('JFFlat-Medium.woff') format('woff'), url('JFFlat-Medium.ttf')  format('truetype'), url('JFFlat-Medium.svg#JFFlat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
