
@font-face {
  font-family: 'JFFlat-Regular';
  src: url('JFFlat-Regular.eot?#iefix') format('embedded-opentype'),  url('JFFlat-Regular.woff') format('woff'), url('JFFlat-Regular.ttf')  format('truetype'), url('JFFlat-Regular.svg#JFFlat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
